//Colors
$white-color: #ffffff;
$black-color:#000000;
$text-color: #A4A4A4;
$bg-color:#F6F6F6;
$gold-color:#FFB547;


//spacing
$base-padding: 10px;
$base-margin: 10px;
$base-gap: 20px;

//borders
$base-border-thikness: 1px;
$base-border-radius: 5px;

//font size
$base-font-size: 10px;

//transition
$main-transition:0.3s;