@use "../abstract/variables" as *;
@use "../abstract/mixin" as *;

.toggle {
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  span {
    background-color: $black-color;
    width: 35px !important;
    height: 3px;
    display: inline-block;
    transition: all 0.2s ease;
    border-radius: 4px;
    position: relative;
  }
  &:hover span:nth-child(2) {
    opacity: 0;
  }
  &:hover span:first-child {
    transform: rotate(45deg);
    top: 10px;
  }
  &:hover span:last-child {
    transform: rotate(-45deg);
    top: -10px;
  }
}
// Start Header
header {
  padding: $base-padding * 1.5 0;
  .container {
    .toggle {
      display: none;
    }
    .logo {
      img {
        width: 70px;
      }
    }
    .input {
      position: relative;
      @include flex;
      background-color: $bg-color;
      padding: 0px $base-padding * 3;
      height: 45px;
      border-radius: $base-border-radius * 2;

      input {
        border: none;
        background-color: transparent;
        @include centring;

        &::placeholder {
          color: #656565;
        }
      }

      i {
        color: #656565;
        position: absolute;
        left: 10px;
      }
    }
    .links {
      li {
        position: relative;

        a {
          color: $text-color;
          font-size: $base-font-size * 1.8;
          transition: $main-transition * 2;
          padding: 5px;
          display: inline-block;
          transition: $main-transition * 2;

          & {
            &.active {
              color: $black-color;
            }
          }

          &:hover {
            color: $black-color;
            font-weight: 500;
          }
        }

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          background-color: #a4a4a43d;
          width: 0;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          transition: $main-transition;
          z-index: -9;
          border-radius: $base-border-radius;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
    .icons {
      ul {
        a {
          color: $black-color;
          font-size: $base-font-size * 1.7;
        }
      }
    }
  }
}
// End Header
// Start Tab Mobile
.tab-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 10px;
  display: none;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      a {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        position: relative;
        top: -15px;
        border-radius: 50%;
        background-color: #fff;
        color: $black-color;
      }
    }
  }
}
// End Tab Mobile

// Start Landing
.landing {
  background-color: #211c24;
  .content {
    p:first-child {
      font-size: $base-font-size * 2.5;
      color: $text-color;
      animation: control-width 3s 0.2s both;
    }
    h3 {
      font-size: $base-font-size * 10;
      font-weight: 100;
      letter-spacing: 3px;
      margin: $base-margin * 1.5 0;
      animation: control-width 3s 0.3s both;

      span {
        font-weight: 600;
      }
    }

    p {
      color: $text-color;
      font-size: $base-font-size * 1.8;
      animation: control-width 3s 0.4s both;
    }

    .btn {
      background-color: transparent;
      border: $base-border-thikness solid $white-color;
      margin-top: $base-margin * 1.5;
      animation: control-width 3s 0.5s both;
    }
  }

  .image {
    overflow: hidden;
    img {
      animation: img-rotate 3s 0.2s;
    }
  }
}
// End Landing

// Keyframes
// @keyframes control-width {
//   from {
//     transform: translateY(180px);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// @keyframes img-rotate {
//   from {
//     transform: rotateY(90deg) translateY(100%);
//   }
//   to {
//     transform: rotateY(0) translateY(0);
//   }
// }
