@use "../abstract/variables" as *;

@media (max-width: 990px) {
  // Start Header
  header {
    .container {
      .input,
      .links,
      .icons {
        display: none !important;
      }

      .links {
        position: absolute;
        top: 56px;
        right: 0;
        width: 100%;
        background: #2d2d2d;
        display: block !important;
        z-index: 999;
        transition: 0.5s;
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;

        ul {
          flex-direction: column !important;
          align-items: flex-start !important;
          margin: auto;
          padding: 20px 0;

          li {
            &::before {
              display: none !important;
            }

            a {
              color: $white-color;
              & {
                &.active {
                  color: $white-color;
                }
              }

              &:hover {
                color: $white-color;
                font-weight: 500;
              }
            }
          }
        }
      }

      .toggle {
        display: flex !important;
        color: $black-color;
        &:focus + .links {
          transform: translate(0%) !important;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  // Start Tab Mobile
  .tab-mobile {
    display: block;
  }
  // Start Landing
  .landing {
    .container {
      .content {
        text-align: center;
        margin: 20px 0;

        h3 {
          font-size: $base-font-size * 5 !important;
        }
        p {
          font-size: $base-font-size * 2;
        }

        .btn {
          margin: auto;
        }
      }

      .image {
        text-align: center;
      }
    }
  }

  // Start Store 
  .store{
    .apple-air,
    .apple-pro{
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  // Start Store 
  .store{
    .PlayStation{
      .image{
        position: relative;
        bottom: -20px;
        img{
          width: 200px;
        }
      }
      .text{
        h3{
          font-size: 30px;
        }
      }
    }
    .macbook{
      justify-content: space-between!important;
      .text{
        max-width: 100%;
      }
    }
  }
  .sale{
    .content{
      h2{
        font-size: $base-font-size*4;
      }
    }
  } 
}
