@use "../abstract/variables" as *;
@use "../abstract/mixin" as *;

.product{
    .container{
        .breadcrumb-item+.breadcrumb-item::before{
            padding: 0 $base-padding;
        }

        .brand{
            .btn{
                background-color: transparent;
                @include flex;
                
                i{
                    transition: $main-transition;
                }
                &.collapsed{
                    i{
                        transform: rotate(180deg);
                    }
                }
                &:hover{
                    transform: scale(1) !important;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}